[maxscale]
threads=auto
syslog=1
admin_host=127.0.0.1
admin_port=8989

[db-primary]
type=server
address=192.168.44.51
port=3306
protocol=MariaDBBackend

[db-replica]
type=server
address=192.168.44.52
port=3306
protocol=MariaDBBackend

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=db-primary,db-replica
user=mxs_mon
password=<MONITOR_PASSWORD>
replication_user=ir_repl
replication_password=<REPLICATION_PASSWORD>
monitor_interval=2000ms
auto_failover=true
auto_rejoin=true
auto_failback_switchover=false

[RW-Service]
type=service
router=readwritesplit
servers=db-primary,db-replica
user=mxs_route
password=<ROUTE_PASSWORD>

[RW-Listener]
type=listener
service=RW-Service
protocol=MariaDBClient
address=192.168.44.21
port=4006
authenticator=MariaDBAuth
authenticator_options=match_host=false

